python=3.11
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
scikit-image
pillow
jupyterlab
opencv
ipywidgets
tqdm
pytorch
torchvision
tensorflow>=2.11
h5py
pyyaml
requests
seaborn
pip
albumentations
imgaug
onnx
onnxruntime
keras
matplotlib-inline
tensorflow-metal
jupyterlab
tensorflow-datasets
ipykernel
gradio
